/* IMAGENES GENERALES */

.about-img{
width:100%;
height:420px;
object-fit:cover;
border-radius:6px;
}

/* EQUIPO */

.team-img{
width:100%;
height:300px;
object-fit:cover;
border-radius:6px;
}

/* EXPERIENCIAS */

.exp-img{
width:100%;
height:220px;
object-fit:cover;
border-radius:6px;
}


/* IMPACTO */

.impacto-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:30px;
margin-top:30px;
text-align:center;
}

.impacto-card{
background:#fff;
padding:25px;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.impacto-card h3{
font-size:34px;
font-weight:700;
margin-bottom:5px;
}


/* RESPONSIVE */

@media (max-width:992px){

.about-img{
height:320px;
}

}

@media (max-width:768px){

.about-img{
height:240px;
}

.team-img{
height:220px;
}

.exp-img{
height:160px;
}

}
