/* =========================
   FONDO GENERAL
========================= */
.page {
  background: #000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* =========================
   CAJA BLANCA CONTENIDO
========================= */
.white-box {
  background: #fff;
  color: #111;
  max-width: 520px;
  padding: 50px 40px;
  margin: 60px 20px;
  border-radius: 8px;
  line-height: center;
  font-family: Georgia, "Times New Roman", serif;
}

/* =========================
   TITULOS
========================= */
.spaced {
  text-align: center;
  letter-spacing: 4px;
  margin-bottom: 25px;
}

.white-box h2 {
  text-alig


