/* HOME CENTRADO */
.home {
  margin: 0;
  background: #000;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* BOTÓN GIF */
.btn-gif img {
  width: 160px; /* ajusta tamaño si quieres */
  cursor: pointer;
}
