/* HOME */
.home {
  margin: 0;
  background: #000;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTENEDOR */
.home-container {
  text-align: center;
}

/* TÍTULO PRINCIPAL */
.main-title {
  font-family: 'Orbitron', sans-serif;
  color: #fff;
  font-size: 2.6rem;
  letter-spacing: 6px;
  margin-bottom: 10px;
}

/* TEXTO BIENVENIDA */
.welcome-text {
  color: #aaa;
  font-size: 1rem;
  letter-spacing: 3px;
  margin-bottom: 40px;
}

/* BOTÓN GIF */
.btn-gif img {
  width: 160px;
  cursor: pointer;
}
