/* HOME */
.home {
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px; /* controla qué tan juntos están */
}

.home-banner {
  max-width: 85%;
  height: auto;
}

.home-btn img {
  width: 220px; /* ajusta el tamaño del gif */
  cursor: pointer;
}

