/* HOME SIMPLE */
.home {
  margin: 0;
  background: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-simple {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

/* BANNER PEQUEÑO */
.banner-small {
  width: 280px;      /* ajusta aquí */
  height: auto;
}

/* BOTÓN GIF PEQUEÑO */
.btn-gif img {
  width: 160px;      /* ajusta aquí */
  cursor: pointer;
}
