body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0b0b;
  color: #eaeaea;
}

.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.banner {
  max-width: 80%;
}

.btn-gif img {
  width: 200px;
  cursor: pointer;
}

.menu-section, .content {
  max-width: 900px;
  margin: auto;
  padding: 80px 20px;
}

a {
  color: #eaeaea;
  text-decoration: none;
}

.link {
  display: inline-block;
  margin-top: 10px;
  text-decoration: underline;
}
