/* =========================
   RESET BÁSICO
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================
   BODY
========================= */
body {
    font-family: Arial, sans-serif;
    background: #000;
    color: #fff;
}

/* =========================
   HERO
========================= */
.hero {
    padding: 40px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero .highlight {
    color: #00ff88;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero .description {
    color: #ccc;
}

/* =========================
   SWIPER SECTION
========================= */
.swiper-section {
    width: 100%;
}

/* CONTENEDOR SWIPER */
.swiper {
    width: 100%;
    height: 75vh;
}

/* SLIDES */
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* IMÁGENES */
.swiper-slide img {
    object-fit: cover;
    object-position: 50% 30%;
}
/* =========================
   SECCIONES GENERALES
========================= */
.section {
    padding: 40px 20px;
    text-align: center;
}

/* =========================
   ABOUT
========================= */
.about-section {
    padding: 40px 20px;
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 768px) {
    .swiper {
        height: 50vh;
    }

    .hero h1 {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .swiper {
        height: 40vh;
    }

    .hero h1 {
        font-size: 1.5rem;
    }
}
